@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #fece0c;
    background-image: url('../img/grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}


.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 900px;
    background: #fff;
    padding: 0px 0px 0px 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);

  }
  
  .wrapper h2 {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
    width: 400px;
  }
  
  .wrapper form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrapper .input-field input[type="text"] {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  
  .wrapper .input-field input[type="radio"] {
    margin: 10px;
   
  }
  
  .wrapper .btn input[type="button"] {
    border: 0px;
    margin-top: 10px;
    margin-left: 25px;
    padding: 15px 20px 15px 20px;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    
  }

  
.wrapper #error-message {
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }
  
.description {
    padding: 15px 20px 10px 20px;
    line-height: 1.5em;

}

#akan {
    background: transparent;
    color: #332902;
}

#akan p {
    margin: 150px 20px 0px 20px;
    padding-left: 50px;
    font-size: 1.36em;
    width: 350px;
    font-family: 'Josefin Sans', sans-serif;
}

.color-col {
    background-color: #fffd;
    background-image:url('../img/grass-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.col-spacer {
    padding: 25px;
}